* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  font-size: 20px;
  font-family: 'Merienda', cursive;
}

body .tlo1, html .tlo1, body .tlo1 nav, html .tlo1 nav, body .miejscestron, html .miejscestron, body .miejscestron header, html .miejscestron header, body .miejscestron main, html .miejscestron main, body aside .kolumny, html aside .kolumny, body aside .podpisy, html aside .podpisy, body footer, html footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body, html {
  margin: 0;
  font-style: normal;
  background-image: url(img/sciana.png);
}

body .tlo1, html .tlo1 {
  /*background-image: url(img/kawka.png);
        height: 500px; */
  position: relative;
}

body .tlo1 img, html .tlo1 img {
  z-index: 0;
}

body .tlo1 nav, html .tlo1 nav {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10  px;
  margin: 5px 15vw 5px 15vw;
  position: absolute;
  top: 20px;
  left: 10vw;
  border-radius: 20px  20px 20px 20px;
  border: 2px solid #575348;
  font-size: 1.5rem;
}

body .tlo1 nav a, html .tlo1 nav a {
  padding: 10px 20px 10px 20px;
  color: #f7f3f3;
  text-decoration: none;
  /* a tag without underline */
}

body .tlo1 nav a:hover, html .tlo1 nav a:hover {
  color: #850808;
  text-decoration: none;
}

body .miejscestron, html .miejscestron {
  margin-top: -60vh;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .miejscestron .container, html .miejscestron .container {
  z-index: 1;
  border-radius: 20% 20% 2% 5%;
}

body .miejscestron header, html .miejscestron header {
  position: absolute;
  top: 5vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #f7f3f3;
  z-index: 2;
}

body .miejscestron main, html .miejscestron main {
  text-align: left;
  z-index: 2;
  color: #f7f3f3;
  position: absolute;
  top: 20vh;
  gap: 10px;
  padding: 5px;
  margin: 5px 5vw 5px 5vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .miejscestron main .projectimage, html .miejscestron main .projectimage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .miejscestron main .projectimage img, html .miejscestron main .projectimage img {
  z-index: 3;
  width: 24vw;
  height: 21vh;
}

body .miejscestron main .projectimage .projectlinks, html .miejscestron main .projectimage .projectlinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .miejscestron main .projectimage .projectlinks a, html .miejscestron main .projectimage .projectlinks a {
  padding: 5px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

body .miejscestron main .projectimage .projectlinks a button, html .miejscestron main .projectimage .projectlinks a button {
  background-color: grey;
  border: 1px solid #3a0f0c;
  color: #1fd0fc;
  width: 100px;
  height: 25px;
  border-radius: 20%;
}

body .miejscestron main .projectimage .projectlinks a .buttoncode, html .miejscestron main .projectimage .projectlinks a .buttoncode {
  color: #faf60b;
  background-color: #887c82;
}

body aside, html aside {
  position: fixed;
  top: 60vh;
  z-index: 2;
  padding: 5px;
  font-size: 18px;
  font-family: Verdana, sans-serif;
  background-color: black;
  color: #f7f3f3;
  border: 2px dashed #3a2626;
}

body aside .kolumny, html aside .kolumny {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 0;
}

body aside .kolumny p, html aside .kolumny p {
  width: 40px;
  background-color: #6d13e2;
  height: 5px;
  border: 2px solid #6a12dd;
}

body aside .podpisy, html aside .podpisy {
  margin-top: 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body aside .podpisy p, html aside .podpisy p {
  padding: 5px 35px 5px 35px;
  margin-top: 0;
}

body .opisprojektu, html .opisprojektu {
  position: fixed;
  top: 60vh;
  right: 0px;
  z-index: 2;
  padding: 10px;
  font-size: 18px;
  font-family: Verdana, sans-serif;
  background-color: black;
  color: #f7f3f3;
  border: 2px dashed #3a2626;
  width: 25vw;
}

body footer, html footer {
  background-image: url(img/footersciana.png);
  background-size: cover;
  min-height: 300px;
  z-index: 3;
}

body footer h4, html footer h4 {
  color: #f7f3f3;
  z-index: 4;
}

@media (max-width: 1250px) {
  body .miejscestron, html .miejscestron {
    left: 10vw;
  }
  body .miejscestron main, html .miejscestron main {
    left: 30vw;
  }
  body .opisprojektu, html .opisprojektu {
    top: 68vh;
    left: 5px;
    width: 35vw;
  }
  body aside, html aside {
    top: 40vh;
  }
}

@media (max-width: 900px) {
  body .miejscestron, html .miejscestron {
    left: 20vw;
  }
  body .miejscestron main, html .miejscestron main {
    left: 35vw;
  }
}

@media (max-width: 700px) {
  body .miejscestron, html .miejscestron {
    left: 20vw;
  }
  body .miejscestron main, html .miejscestron main {
    left: 50vw;
  }
}
/*# sourceMappingURL=stylep.css.map */