*{
    box-sizing: border-box;
  }
  :root{
      font-size: 20px;
      font-family: 'Merienda', cursive;
  }
  $primaryColor:rgb(247, 243, 243);
  $secondaryColor: rgb(133, 8, 8);
  %centered{
    display:flex;
    justify-content: center;
    align-items: center;
  }
  body,html{
    margin:0;
    font-style:normal;
    background-image: url(img/sciana.png);
        .tlo1{
        /*background-image: url(img/kawka.png);
        height: 500px; */
        position:relative;
         @extend %centered;
         img{
             z-index: 0;
         }
        
    nav{
        @extend %centered;
        justify-content: space-around;
        padding: 10  px;
        margin: 5px 15vw 5px 15vw;
        position : absolute;
        top: 20px;
        left: 10vw;
        border-radius: 20px  20px 20px 20px;
        border: 2px solid rgb(87, 83, 72);
        font-size: 1.5rem;
                
        a{
            padding: 10px 30px 10px 30px;
            color: $primaryColor;
            text-decoration: none; /* a tag without underline */
         }
         a:hover{
             color: $secondaryColor;
             text-decoration: none;
         }
       }
    }
    .omnie{
        margin-top: -60vh;
        position:relative;
        @extend %centered;
        flex-direction: column;
        
        .container{ 
            z-index:1;
            border-radius: 20% 20% 2% 5%;
                    }
        header{
            position:absolute;
            top:10vh;
        @extend %centered;
        flex-direction: column;
        color: $primaryColor;
        z-index: 2;
        }
        .marketing{ 
            position:absolute;
            top: 60vh;
            z-index: 2;
        }
        main{
            text-align: left;
            z-index: 2;
            color: $primaryColor;
            position:absolute;
            top: 30vh;
            width: 40vw;
            padding: 5px;
            margin: 5px 30vw 5px 30vw;
        }
        section {
            text-align: left;
            z-index: 2;
            color: $primaryColor;
            width: 40vw;
            padding: 5px;
            margin: 5px 30vw 5px 30vw;
        }
        .artykul1{
            position:absolute;
            top: 100vh;
        }
        .artykul2{
            position:absolute;
            top: 135vh;
        }
    
    }

    footer{
        @extend %centered;
        background-image: url(img/footersciana.png);
        background-size: cover;
        height: 300px;
        z-index: 3;
        h4{
            color: $primaryColor;
            z-index: 4;
        }
    }
    @media(max-width: 1400px){
        .omnie{
            left:8vw; 
            main{ width:60vw;}
            section{ width:60vw;}
                    }
    }
    @media(max-width: 900px){
        .omnie{
            left:18vw; 
            .artykul2{ top: 145vh;}
                    }
    }
    @media(max-width: 700px){
        .omnie{
            left:25vw; 
            main{ width:80vw;}
            section{ width:80vw;}
                    }
    }
     }



     




