*{
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  :root{
      font-size: 20px;
      font-family: 'Merienda', cursive;
  }
  $primaryColor:rgb(247, 243, 243);
  $secondaryColor: rgb(133, 8, 8);
  %centered{
    display:flex;
    justify-content: center;
    align-items: center;
  }
  body,html{
    margin:0;
    font-style:normal;
    background-image: url(img/sciana.png);
        .tlo1{
        /*background-image: url(img/kawka.png);
        height: 500px; */
        position:relative;
         @extend %centered;
         img{
             z-index: 0;
         }
        
    nav{
        @extend %centered;
        justify-content: space-around;
        padding: 10  px;
        margin: 5px 15vw 5px 15vw;
        position : absolute;
        top: 20px;
        left: 10vw;
        border-radius: 20px  20px 20px 20px;
        border: 2px solid rgb(87, 83, 72);
        font-size: 1.5rem;
                
        a{
            padding: 10px 20px 10px 20px;
            color: $primaryColor;
            text-decoration: none; /* a tag without underline */
         }
         a:hover{
             color: $secondaryColor;
             text-decoration: none;
         }
       }
    }
    .miejscestron{
        margin-top: -60vh;
        position:relative;
        @extend %centered;
        flex-direction: column;
                
        .container{ 
            z-index:1;
            border-radius: 20% 20% 2% 5%;
                    }
        header{
            position:absolute;
            top:5vh;
        @extend %centered;
        flex-direction: column;
        color: $primaryColor;
        z-index: 2;
        }
       
        main{
            text-align: left;
            z-index: 2;
            color: $primaryColor;
            position:absolute;
            top: 20vh;
            gap: 10px;
            padding: 5px;
            margin: 5px 5vw 5px 5vw;
            @extend %centered;
            flex-direction: column;
             .projectimage{   
                 display:flex;
                 img{
                 z-index: 3;
                 width: 24vw;
                 height: 21vh;
                }
                .projectlinks{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    a{
                        padding: 5px;
                        align-self: center;
                            button{
                                background-color: grey;
                                border: 1px solid rgb(58, 15, 12);
                                color:rgb(31, 208, 252);
                                width:100px;
                                height: 25px;
                                border-radius: 20%;
                                }
                            .buttoncode{
                                color:rgb(250, 246, 11);
                                background-color: rgb(136, 124, 130);
                            }
                    }
        }
        }
        }
     
     }
    

    aside{
        position: fixed;
        top: 60vh;
        z-index: 2;
        padding: 5px;
        font-size: 18px;
        font-family: Verdana, sans-serif;
        background-color: black;
        color: $primaryColor;
        border: 2px dashed rgb(58, 38, 38);
        .kolumny{
            @extend %centered;
            justify-content: space-around;
            align-items: flex-end;
            margin-bottom: 0;
            
            p{
                width: 40px;
                background-color:rgb(109, 19, 226);
                height: 5px;
                border: 2px solid rgb(106, 18, 221);
            }
        }
        .podpisy{
            @extend %centered;
            margin-top:0;
            justify-content: space-around;
            align-items: center;
            p{
                padding: 5px 35px 5px 35px;
                margin-top: 0;
            }
        }
        
    }
    .opisprojektu{
        position: fixed;
        top: 60vh;
        right: 0px;
        z-index: 2;
        padding: 10px;
        font-size: 18px;
        font-family: Verdana, sans-serif;
        background-color: black;
        color: $primaryColor;
        border: 2px dashed rgb(58, 38, 38);
        width: 25vw;
            }
    footer{
        @extend %centered;
        background-image: url(img/footersciana.png);
        background-size: cover;
        min-height: 300px;
        z-index: 3;
        h4{
            color: $primaryColor;
            z-index: 4;
        }
    }
    @media(max-width: 1350px){
        .tlo1{
            nav{
                left:5vw;
                margin-left: 5vw;
            }
        }
        .miejscestron{
            left: 10vw;
            main{
                left: 30vw;
            }
            aside{
                h4{ font-size: 16px;}
            }
            .opisprojektu{font-size: 16px;}
        }
        .opisprojektu{ 
            top: 75vh; 
            left: 5px;  
            width:35vw;} 
            aside{ top:50vh;}
     }
     @media(max-width: 1050px){
        .miejscestron{
            left: 20vw;
            main{
                left: 35vw;
            }
        }
    
    }
    @media(max-width: 800px){
        .miejscestron{
            left: 20vw;
            main{
                left: 50vw;
            }
        }
        
    }
}
   



     