* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  font-size: 20px;
  font-family: 'Merienda', cursive;
}

body .tlo1, html .tlo1, body .tlo1 nav, html .tlo1 nav, body .omnie, html .omnie, body .omnie header, html .omnie header, body footer, html footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body, html {
  margin: 0;
  font-style: normal;
  background-image: url(img/sciana.png);
}

body .tlo1, html .tlo1 {
  /*background-image: url(img/kawka.png);
        height: 500px; */
  position: relative;
}

body .tlo1 img, html .tlo1 img {
  z-index: 0;
}

body .tlo1 nav, html .tlo1 nav {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10  px;
  margin: 5px 15vw 5px 15vw;
  position: absolute;
  top: 20px;
  left: 10vw;
  border-radius: 20px  20px 20px 20px;
  border: 2px solid #575348;
  font-size: 1.5rem;
}

body .tlo1 nav a, html .tlo1 nav a {
  padding: 10px 30px 10px 30px;
  color: #f7f3f3;
  text-decoration: none;
  /* a tag without underline */
}

body .tlo1 nav a:hover, html .tlo1 nav a:hover {
  color: #850808;
  text-decoration: none;
}

body .omnie, html .omnie {
  margin-top: -60vh;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .omnie .container, html .omnie .container {
  z-index: 1;
  border-radius: 20% 20% 2% 5%;
}

body .omnie header, html .omnie header {
  position: absolute;
  top: 10vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #f7f3f3;
  z-index: 2;
}

body .omnie .marketing, html .omnie .marketing {
  position: absolute;
  top: 60vh;
  z-index: 2;
}

body .omnie main, html .omnie main {
  text-align: left;
  z-index: 2;
  color: #f7f3f3;
  position: absolute;
  top: 30vh;
  width: 40vw;
  padding: 5px;
  margin: 5px 30vw 5px 30vw;
}

body .omnie section, html .omnie section {
  text-align: left;
  z-index: 2;
  color: #f7f3f3;
  width: 40vw;
  padding: 5px;
  margin: 5px 30vw 5px 30vw;
}

body .omnie .artykul1, html .omnie .artykul1 {
  position: absolute;
  top: 100vh;
}

body .omnie .artykul2, html .omnie .artykul2 {
  position: absolute;
  top: 135vh;
}

body footer, html footer {
  background-image: url(img/footersciana.png);
  background-size: cover;
  height: 300px;
  z-index: 3;
}

body footer h4, html footer h4 {
  color: #f7f3f3;
  z-index: 4;
}

@media (max-width: 1400px) {
  body .tlo1 nav, html .tlo1 nav {
    left: 5vw;
    margin-left: 3vw;
  }
  body .omnie, html .omnie {
    left: 8vw;
  }
  body .omnie main, html .omnie main {
    width: 60vw;
  }
  body .omnie section, html .omnie section {
    width: 60vw;
  }
}

@media (max-width: 900px) {
  body .tlo1 nav, html .tlo1 nav {
    font-size: 18px;
  }
  body .tlo1 nav a, html .tlo1 nav a {
    padding-left: 10px;
    padding-right: 10px;
  }
  body .omnie, html .omnie {
    left: 18vw;
  }
  body .omnie .artykul2, html .omnie .artykul2 {
    top: 145vh;
  }
}

@media (max-width: 700px) {
  body .omnie, html .omnie {
    left: 25vw;
  }
  body .omnie main, html .omnie main {
    width: 80vw;
  }
  body .omnie section, html .omnie section {
    width: 80vw;
  }
}

@media (max-width: 650px) {
  body .omnie, html .omnie {
    left: 25vw;
  }
  body .omnie main, html .omnie main {
    font-size: 16px;
    width: 95vw;
  }
  body .omnie section, html .omnie section {
    font-size: 16px;
    width: 95vw;
  }
}

@media (max-width: 350px) {
  body .omnie, html .omnie {
    left: 35vw;
    font-size: 16px;
  }
  body .omnie main, html .omnie main {
    width: 140vw;
    padding-left: 25px;
  }
  body .omnie section, html .omnie section {
    width: 140vw;
    padding-left: 25px;
  }
}
/*# sourceMappingURL=style.css.map */