body{
    border: 2px solid black;
}
:root{
    font-size: 18px;
}
    
.title{
    padding: 15px 0;
    border:2px solid black;
    display:flex;
    justify-content:flex-end;
}
.subtitle{
    width: 60%;
border:2px solid black;
}
.logo{
    padding-left: 45%;
}
.sprites{
    width:90px;
    height:90px;
    background:url("sprites.jpg");
    }
.sprites:hover{
    background:url("sprites.jpg")0 -90px;
}
.sprites:active{
    background:url("sprites.jpg")0 -180px;
}

.menu{
display:flex;
justify-content: space-around;
}

.gif1 {
    border:2px solid black;
    text-align: center;
    color:rgb(190, 20, 20);
    flex:1;
    border:2px solid black;
}
.gif2 {
    border:2px solid black;
    text-align: center;
    color:rgb(190, 20, 20);
    flex:1;
    border:2px solid black;
}
.gif3 {
    border:2px solid black;
    text-align: center;
    color:rgb(190, 20, 20);
    flex:1;
    border:2px solid black;
}

.content1 {
    color:black;
    border:2px solid black;
    display:flex;
    
}

.content2 {
     color:black;
     border:2px solid black;
     display:flex;
         }
.opiswykresu1{
    text-align: left;
    margin-left: 5%;
    font-size: 2rem;
    padding: 10px 10px 10px 10px;
    flex:1;
}
.opiswykresu2{
    text-align: left;
    margin-left: 5%;
    font-size: 2rem;
    padding: 10px 10px 10px 10px;
    flex:1;
}
.wykres1{
    border:2px dashed rgb(238, 231, 238);
    height:7cm;
    display:flex;
    justify-content:space-evenly;
    flex:5;
}
.slupek{
    width:6%;
    background-color:red;
}
.s1{height:220px}
.s2{height:180px}
.s3{height:140px}
.s4{height:100px}
.s5{height:60px}

.wykres2{
    padding-top: 10px;
    border:2px dashed rgb(238, 231, 238);
    weight:8cm;
    height: 8cm;
    display:grid;
    flex:5;
}
.slup{
    height:30px;
    background-color:rgb(55, 23, 235);
}
.t1{width:120px}
.t2{width:100px}
.t3{width:80px}
.t4{width:60px}
.t5{width:40px}

.footer {
    color:red;
    border:2px solid rgb(24, 21, 21);
    background-color: rgb(160, 173, 216);
    }
.tytul{
    margin-left:7%;
    font-size: 2rem;
    text-align:left;
    color:black;
    position:left;
     }
#rodzic_em{
    
    margin-right: 30%;
            }

.em{
    float:right; 
    font-size:2em;
    }

